.o_modal {
  position: fixed;;
  z-index: 2000;
  inset: 0;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.o_modal_mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .4);
  pointer-events: auto;
}

.o_modal_content {
  position: relative;
  z-index: 1;
  margin: auto;
  align-self: center;
  pointer-events: auto;
  box-shadow:
    0 6px 16px -9px rgba(0, 0, 0, .08),
    0 9px 28px 0 rgba(0, 0, 0, .05),
    0 12px 48px 16px rgba(0, 0, 0, .03);
}
