.o_split {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &.is-horizontal {
    flex-direction: row;
  }

  &.is-vertical {
    flex-direction: column;
  }
}

.o_split_gutters {
  display: contents;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.o_split_pane {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

.o_split_gutter {
  position: absolute;
  flex: 0 0 auto;
  background: transparent;
  transition: background-color .15s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: auto;

  /* 横向分栏：垂直手柄，显示 col-resize */
  .is-horizontal & {
    cursor: col-resize;
  }
  /* 纵向分栏：水平手柄，显示 row-resize */
  .is-vertical & {
    cursor: row-resize;
  }

  &:hover { background-color: #81B8F518; }

  &::after {
    content: '';
    display: block;
    background-color: transparent;
    border-radius: 2px;
    opacity: .8;
    transition: background-color .25s ease, opacity .25s ease;
  }
}

.o_split_gutter:hover::after {
  opacity: 1;
  background-color: #81B8F5;
}

.is-horizontal .o_split_gutter::after {
  width: 2px;
  height: 52px;
}
.is-vertical .o_split_gutter::after {
  height: 2px;
  width: 52px;
}


