.o_popup {
  position: fixed;;
  z-index: 2000;
  inset: 0;
  pointer-events: none;
}

.o_popup_mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
  pointer-events: auto;
}

.o_popup_content {
  position: relative;
  z-index: 1;
  pointer-events: auto;
}
